

.navbar {
  background: transparent;
}
.navbar .nav-item .nav-link {
    font-size: 17px;
    padding-right: 1.4rem;
    font-family: arial;
    color: #000000;
}

.bghide{
    background-image: none;
    margin: 0;
    padding: 0;
}
#featureImg {
    width: 100%;
    height: auto;
}


footer {
    background-color: #000066;
    padding: 2% 5% 2% 5%;
    font-size: 13px;
}

#footer {
    color: #FFFFFF;
    display: inline-block;
}

#socialicons {
    text-align: center;
    float: right;
    display: inline-block;
}

a.social, a.social1 {
    color: #FFFFFF!important;
}


a.social, a.social1 {
    color: #FFFFFF!important;
}
a.social {
    font-family: 'SocialicoRegular';
    font-size: 28px;
    margin: 0 10px 0px 10px;
    position: relative;
    display: inline-block;
    -webkit-transition: all 450ms;
    -moz-transition: all 450ms;
    -ms-transition: all 450ms;
    -o-transition: all 450ms;
    transition: all 450ms;
}

.fa {
  width: 30px;
  color: #FFFFFF;
  font-size: 20px;
}

#container a, #footer a {
    color: #FF6600;
}

textarea {
  height:100px
}
